<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title 讓愛不流浪
        link(rel="shortcut icon", href="./imgs/logo.png")
        link(rel='stylesheet' href='./stylesheets/reset.css')
        link(rel='stylesheet' href='./stylesheets/header.css')
        
        //- Bootstrap CSS
        link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T' crossorigin='anonymous')
    body
        header
            a(href="./")
                img#logo(src="./imgs/logo.png", alt="logo")
            h1 讓愛不流浪
            h4 Love Never Stray
            nav
                ul
                    li
                        a(href="/") 主頁
                    li
                        a(href="./adoption?kind=all&paging=0") 認養
                    li
                        a(href="#") 協尋
                    li
                        a(href="#") 捐血
                    li
                        a(href="#") 須知
        block content
        