
.attention-wrap
  .title 正在關注的毛孩
  .subtitle 領養代替購買，毛孩需要一個家
  .msg 刪除成功
  .line
  .item-list
    //- .item
    //-   img.pet-img(src="pet-img/1_1568610411446.jpg")
    //-   .small-wrap
    //-     h4 大貓咪送養
    //-     .status-wrap
    //-       .status-light(style="background-color:lightsalmon;")
    //-       .status-text 未送養
    //-   img.edit(src="./imgs/edit.png")
    //-   img.remove(src="./imgs/remove.png")
    //- .line