.chat-wrap
  .title 我的留言
  .subtitle
  .error-msg
  img.lastPage(src="./imgs/lastPage.png")
  .line
  .content-parent
  //- 訊息紀錄
  .bottom-line
  .bottom-bar
    textarea.msg-input(placeholder="傳些什麼...")
    .btn-wrap
      img.send-button(src="./imgs/send.png")
