
.edit-wrap
  .title 發佈過的送養紀錄
  .subtitle
    | 若已成功送養可編輯狀態，搜尋時便不會再出現
    br
    | 按下刪除則可刪除發佈過的送養紀錄
  .msg 刪除成功
  .line
  .item-list
    //- .item
    //-   img.pet-img(src="pet-img/1_1568610411446.jpg")
    //-   .small-wrap
    //-     h4 大貓咪送養
    //-     .status-wrap
    //-       .status-light(style="background-color:lightsalmon;")
    //-       .status-text 未送養
    //-   img.edit(src="./imgs/edit.png")
    //-   img.remove(src="./imgs/remove.png")
    //- .line
