link(rel="stylesheet", href="./stylesheets/notice.css")
include includes/header.pug
block content
.notice
//-   .item-wrap
//-     a(href="https://www.youtube.com/watch?v=nEfwHbvaE4M&t=2s")
//-       img(src="https://img.youtube.com/vi/nEfwHbvaE4M/hqdefault.jpg")
//-     .text-wrap
//-       h4.title 【養貓要知道EP1】如何得到一隻貓？撿到貓？貓中途領養？收容所認養？｜貓奴新手指南
//-       .description
//-         | 好味小姐的貓都是怎麼來的呢？
//-         br
//-         |                     【方法1：撿到貓咪啦】
//-         |                     撿到貓入住步驟：
//-         |                     入手最基本的貓咪用品-主食、貓砂
//-         |                     提供安全的躲藏空間
//-         |                     健康檢查
//-         br
//-         |                     【方法2：跟中途領養貓咪】
//-         |                     跟中途領養的優點：
//-         |                     貓咪大多經過親人以及進入家庭前的訓練
//-         |                     愛媽養貓經驗豐富，有疑難雜症可以趕快請教
//-         |                     最適合新手
//-         br
//-         |                     【方法3：收容所認養貓咪】
//-         |                     尋找收容所貓咪的方式：
//-         |                     各地區收容所
//-         |                     上網搜尋全國動物收容管理系統
//-         |                     關注收容所網頁，參與收容所舉辦的送養活動
//-       .youtuber 好味小姐 Lady Flavor 
//-   .line
//-   .item-wrap
//-     a(href="https://www.youtube.com/watch?v=QRDGiJhSWIk&t=3s")
//-       img(src="https://img.youtube.com/vi/QRDGiJhSWIk/hqdefault.jpg")
//-     .text-wrap
//-       h4.title 【寵物教學】做個稱職貓奴：新手養貓的準備｜Beginneros
//-       .description
//-         | 新手養貓不難，但重點在於是否能夠肩負起這個一生一世的責任，所以在養貓之前，需要好好考慮清楚，千萬不要因為一時衝動，害了貓咪的生命。立即上課學懂養貓前需要的準備吧！
//-       .tag #養貓 #貓奴 #教學
//-       .youtuber 網上學習平台Beginneros
//-   .line
script(type="text/javascript" src="js/lib.js")
script(type="text/javascript" src="js/notice.js")
include includes/footer.pug