/* global setting */
@font-face {
    font-family: 'MainText';
    src: src('./fonts/TaipeiSansTCBeta-Regular.ttf') format('truetype');
}
:root {
    --main-color: #8FD3E8 !important;
    --light-gray: #F7F7F7 !important;
    --second-color: #419FFF !important;
    --third-color: #5868BA !important;
}
* {
    font-family: "MainText","Microsoft JhengHei" !important;
}

/* notice setting */
.notice {
    margin: 5% 8%;
}
.notice .item-wrap{
    display: flex;
    flex-direction: row;
}
.notice .item-wrap .text-wrap{
    flex-grow: 2;
    width: 840px;
    margin-left: 4%; 
}
.notice .item-wrap .text-wrap h4{
    font-size: 1.8em;
    line-height: 1.5;
    margin-bottom: 3%;
}
.notice .item-wrap img {
    flex-grow: 1;
    width: 300px;
    width: 100%;
}
.notice .item-wrap img:hover {
    opacity: .8;
}
.notice .description {
    line-height: 1.5;
    font-size: 1.1em;
}
.notice .line {
/* position: relative; */
    margin: 1.5% auto;
    width: 100%;
    border-bottom: 1px solid black; 
}
.notice .tag {
    margin-top: 1%;
    color: var(--main-color); 
}
.notice .youtuber {
    /* position: absolute; */
    margin-top:3%; 
    font-size: 1.2em;
}
